/* css styles */ 
#para1 {
  text-align: center;
  color: red;
}

h1 {
  color: #000000 ;
}

.title{
  color: black;
}

#ppc h3 {
      color: #303030; /* Change this to the desired color */
}

#tagline {
  text-align: center;
  white-space: pre-line;
         }