/*-- scss:defaults --*/

// Colors
$dark-green: #858E79;
$light-green: #FEFFFF;
$cream: #FDFBF7;
$gray: #64604F;
$purple: #9158A2;
$orange: #ad7237;
$blue: #3498db;

$title-font: 25px;
$blog-font-size: 12px;

//Base Documents colors
$navbar-bg: $cream;
$navbar-fg: $dark-green;
$navbar-h1: $purple;
$body-bg: $light-green;
$body-color: $gray;
$footer-bg: $cream;
$link-color: $purple;


//inline code
$code-bg: $cream;
$code-color: $purple;

//code block
$code-block-bg: $cream;







