/* Styles for span */
span {
    font-size: 14pt;
    font-family: georgia, palatino, serif;
}

/* Styles for strong */
strong {
    font-size: 14pt;
    font-family: georgia, palatino, serif;
}

/* Styles for p */
/* add georgia font */
/* make text red  */
p { 
    padding-left: 40px;
    font-size: 14pt;
    font-family: georgia, palatino, serif;
    color: red;
}

/* Styles for blockquote */
blockquote {
    font-size: 12pt;
    font-family: georgia, palatino, serif;
}

/* Styles for ol */
ol {
    margin-left: 20px;
}

/* Styles for li */
li {
    font-size: 14pt;
}
